@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

.navbar {
    /* efecto de sombra bajo el navbar*/
    box-shadow: 0px 2px 5px #000; 
    opacity: .9;
    padding: .8rem;    
}

.navbar .nav-item .nav-link {
    color: #000;
    font-size: 1.1em !important;
}

.column-header {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.text-shadows {
    text-shadow: 2px 2px 5px #000;
}

#divEtiquetas, #divEntes {     
    height: 300px; 
    overflow-y: scroll; 
}

.auxiliar-header {
    position: relative;
    background-attachment: fixed;
    width: 100%;
    height: 80%;
}

.auxiliar-background-overlay {
    position: absolute;
    background: rgba(30, 39, 46, .3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
