{% extends "webpage/base.html" %}

{% block title %} Acerca de {% endblock %}

{% block tab_acercade %} "current" {% endblock %}

{% block contenido %}

<!-- Main -->
<section id="main">
    <div class="container">

        <!-- Content -->
            <article class="box post">
                {{ textos.acercaDe|safe }}
            </article>

    </div>
</section>

{% endblock %}

