{% load static %}
<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'webpage/css/main.css' %}" />
        {% block masLinks %} {% endblock %}
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Titulo -->
					<h1><a href="/">{{textos.titulo}}</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class= {% block tab_inicio %} {% endblock %} ><a href="/"> <strong> Inicio </strong> </a></li>
								<li class= {% block tab_organizaciones %} {% endblock %} ><a href="/entes/organizaciones/"> <strong> Organizaciones </strong> </a></li>
								<li class= {% block tab_personas %} {% endblock %} ><a href="/entes/personas/"> <strong> Personas </strong> </a></li>
								<li class= {% block tab_iniciativas %} {% endblock %} ><a href="/iniciativas/"> <strong> Iniciativas </strong> </a></li>
                                <li class= {% block tab_eventos %} {% endblock %} ><a href="/eventos/"> <strong> Eventos </strong> </a></li>
                                <li class= {% block tab_mapa %} {% endblock %} ><a href="/mapa/"> <strong> Mapa </strong> </a></li>
                                <li class= {% block tab_acercade %} {% endblock %} ><a href="/acerca-de/"> <strong> Acerca de </strong> </a></li>
							</ul>
						</nav>               
                </section>
					
                {% block contenido %}{% endblock %}

			<!-- Footer -->
				<section id="footer">
					<div class="container">
						<div class="row">						
							<div class="col-6 col-12-medium">
								<section>
									<header style="text-align: center;">
										<h2 >Universidad de Costa Rica</h2>
									</header>
									<ul class="social" style="text-align: center;">
										<li><a class="icon brands fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>
										<li><a class="icon brands fa-twitter" href="#"><span class="label">Twitter</span></a></li>
										<li><a class="icon brands fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
										<li><a class="icon brands fa-tumblr" href="#"><span class="label">Tumblr</span></a></li>
										<li><a class="icon brands fa-linkedin-in" href="#"><span class="label">LinkedIn</span></a></li>
									</ul>
									<ul class="contact">
										<li>
											<h3>Mail</h3>
											<p><a href="#">someone@untitled.tld</a></p>
										</li>
										<li>
											<h3>Phone</h3>
											<p>(800) 000-0000</p>
										</li>
									</ul>
								</section>
							</div>													
							<div class="col-6 col-12-medium">
								<section>
									<header style="text-align: center;">
										<h2>PiOsa</h2>
									</header>
									<ul class="social" style="text-align: center;">
										<li><a class="icon brands fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>
										<li><a class="icon brands fa-twitter" href="#"><span class="label">Twitter</span></a></li>
										<li><a class="icon brands fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
										<li><a class="icon brands fa-tumblr" href="#"><span class="label">Tumblr</span></a></li>
										<li><a class="icon brands fa-linkedin-in" href="#"><span class="label">LinkedIn</span></a></li>
									</ul>
									<ul class="contact">
										<li>
											<h3>Mail</h3>
											<p><a href="#">someone@untitled.tld</a></p>
										</li>
										<li>
											<h3>Phone</h3>
											<p>(800) 000-0000</p>
										</li>
									</ul>
								</section>
							</div>									
						</div>
					</div>
				</section>

		</div>

		<!-- Scripts -->
			<script src="{% static 'webpage/js/jquery.min.js' %}" ></script>
			<script src="{% static 'webpage/js/jquery.dropotron.min.js' %}" ></script>
			<script src="{% static 'webpage/js/browser.min.js' %}" ></script>
			<script src="{% static 'webpage/js/breakpoints.min.js' %}" ></script>
			<script src="{% static 'webpage/js/util.js' %}" ></script>
			<script src="{% static 'webpage/js/main.js' %}" ></script>
			{% block masScripts %} {% endblock %}

	</body>
</html>