{% extends "webpage/base.html" %}

{% block title %} Inicio {% endblock %}

{% block tab_inicio %} "current" {% endblock %}

{% block contenido %}

<script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>

<!-- Nube de palabras -->

<section id="container" style="height: 30em;">
        
	<script>
		anychart.onDocumentReady(function() {
			var elementosNube = {{ elementosNube | safe }};
			var cantidad_elementos = {{ cantidad_elementos | safe }};
			var data = [];

			for (var i=0; i<elementosNube.length; i++) {
				var dict = {"x": elementosNube[i], "value": cantidad_elementos[i]};
				data.push(dict);
			}

		var chart = anychart.tagCloud(data);
		
		// chart.title('Etiquetas')
		chart.angles([0])
		chart.colorRange(false);
		chart.container("container");
		chart.draw();

		// tooltips
		var formatter = "";
		var tooltip = chart.tooltip();
		tooltip.format(formatter);

		// chart.listen("pointClick", function(e){
		// var url = "/etiqueta-" + e.point.get("x") + "/";
		// window.open(url, "_blank");
		// });
	});

	</script>
</section>


<!-- Main -->
<section id="main">
<div class="container">
<div class="row">
	<div class="col-12">

		<!-- Organizaciones -->
			<section>
				<header class="major">
					<h2>Organizaciones</h2>
				</header>
				<div class="row">
					{% for item in lista_organizaciones %}
						{% if forloop.counter0 < 3 %}
							<div class="col-4 col-6-medium col-12-small">
								<section class="box">
									<a href="#" class="image featured"><img src="{{ item.imagen.url }}" alt="" 
										class="center-image" style="height: 15em; width: auto;"/></a>
									<header style="text-align: center;">
										<a href="entes/organizaciones/{{item.nombre}}/"> <h3>{{ item.nombre }}</h3> </a>  
									</header>
									<p>{{ item.descripcion_corta }}</p>
								</section>
							</div>
						{% endif %}
					{% endfor %}
				<footer>
					<ul class="actions container" style="text-align: center;">
						<li><a href="#" class="button large">Todas las organizaciones</a></li>
					</ul>
				</footer>
			</section>

		<!-- Iniciativas -->
		<section>
			<header class="major">
				<h2>Iniciativas</h2>
			</header>
			<div class="row">
				{% for item in lista_iniciativas %}
					{% if forloop.counter0 < 3 %}
						<div class="col-4 col-6-medium col-12-small">
							<section class="box">
								<a href="#" class="image featured"><img src="{{ item.imagen.url }}" alt="" 
									class="center-image" style="height: 15em; width: auto;"/></a>
								<header style="text-align: center;">
									<a href="iniciativas/{{item.nombre}}/"> <h3>{{ item.nombre }}</h3> </a>
								</header>
								<p>{{ item.descripcion_corta }}</p>
							</section>
						</div>
					{% endif %}
				{% endfor %}
			<footer>
				<ul class="actions container" style="text-align: center;">
					<li><a href="#" class="button large">Todas las iniciativas</a></li>
				</ul>
			</footer>
		</section>

	</div>

</div>
</div>
</section>

{% endblock %}
