{% extends "webpage/base.html" %}
{% load static %}

{% block title %} Eventos {% endblock %}

{% block masLinks %} 
<link rel="stylesheet" href="{% static 'css/eventos.css' %}" />
<link rel="stylesheet" href="{% static 'css/estilos.css' %}" />
{% endblock %}

{% block tab_eventos %} "current" {% endblock %}

{% block contenido %}

			<!-- Main -->
			<section id="main">
				<div class="container">
					<div class="row">
						<div class="col-4 col-12-medium">

							<!-- Sidebar -->
                            <section class="box">
                                <a href="#" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
                                <header>
                                    <h3>Filtro</h3>
                                </header>
                                {% for etiqueta in etiquetas %}
                                    <input type="checkbox" id="etiqueta{{etiqueta.id}}" class="checkboxFiltro"> <label> {{ etiqueta.nombre }} </label><br>
                                {% endfor %}
                            </section>

						</div>
						<div class="col-8 col-12-medium imp-medium">

                            <div class="timeline">
                                {% for item in eventos.all %}                        
                            
                                    <div class="container2 {% if forloop.counter|divisibleby:2 %}right{%else%}left{%endif%} {{pasado}}" id="{{item.nombre}}">
                                        <div class="contenido" style="box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.2);">
                                            
                                            {% if item.inicio %}
                                                <h5  class="text-white text-shadows {% if forloop.counter|divisibleby:2 %}texr-left{%else%}text-right{%endif%}">Del {{item.obtener_inicio}} al {{item.obtener_final}}</h5>
                                            {% endif %}
                
                                            <a href="{{item.nombre}}/"> <h1 class="text-primary text-shadows {% if forloop.counter|divisibleby:2 %}texr-left{%else%}text-right{%endif%} titulito">{{item.nombre}}</h1> </a>
                                            <p class="text-white text-shadows text-justify">{{item.descripcion_corta}}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

						</div>
					</div>
				</div>
			</section>


{% endblock %}

