{% extends "webpage/base.html" %}
{% load static %}


{% block title %}
{{ item.nombre }}
{% endblock %}

{% block masLinks %}
<link rel="stylesheet" href="{% static '/css/styles.css' %}">
{% endblock %}

{% block content %}

<!-- HEADER -->

<header class="auxiliar-header" style="background: url({{item.imagen.url}}); background-size: cover;">
    <div class="auxiliar-background-overlay text-white py-4">
        <div class="container column-header text-center justify-content-center">
            <div class="row">
                <div class="col-md-12 text-center justify-content-center container-fluid">
                    <h1 class="text-shadows" style="font-size:7vw;"> {{ item.nombre }} </h1>
                    {% if item.enlace %}
                        <a href="{{item.enlace}}" class="btn btn-outline-dark bg-light btn-md" target="_blank">Sitio web</a>
                    {% endif %}
                    <br>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid px-5">

    <div class="container-fluid px-5">

        <hr>
    
        <p> {{item.descripcion}} </p>
    
    
        <!-- <p class="font-weight-bold"> Regiones en las que se encuentra: </p> 

        <div class="container-fluid">
            <div class="row">
                {% for region in item.regiones %}
                    <div class="col-sm-3 justify-content-center text-center">
                        <a href="/{{region.nombre}}"> <p> {{ region.nombre }} </p> </a>
                    </div>
                {% endfor %}
            </div>
        </div> -->
    
            <br>
            <br>

            <hr>
    
    </div>

</div>

{% endblock %}
