{% extends "webpage/base.html" %}

{% block title %} {{ organizacion.nombre }} {% endblock %}

{% block tab_organizaciones %} "current" {% endblock %}

{% block masLinks %} 
<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
{% endblock %}

{% block contenido %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-8 col-12-medium">

                <!-- Content -->
                    <article class="box post">
                        <header style="text-align: center;">
                            <h2>{{ organizacion.nombre }}</h2>
                            {% if organizacion.tipo %}
                                <p> {{ organizacion.tipo }} </p>
                            {% endif %}
                        </header>
                        <br>
                        <a href="#" class="image featured"><img src="{{ organizacion.imagen.url }}" alt="" /></a>                        
                        <p>
                            {{ organizacion.descripcion }}
                        </p>
                    </article>

            </div>
            <div class="col-4 col-12-medium">

                <!-- Sidebar -->
                    <section class="box">
                        <header style="text-align: center;">
                            <h3>Etiquetas</h3>
                        </header>
                        {% for etiqueta in organizacion.etiquetas.all %}
                            {% if not forloop.last %}
                                {{ etiqueta.nombre }}, 
                            {% endif %}
                            {% if forloop.last %}
                                {{ etiqueta.nombre }}
                            {% endif %}    
                        {% endfor %}
                    </section>

                    <section class="box">  
                        <header style="text-align: center;">
                            <h3>Miembros</h3>
                        </header>
                        {% for miembro in organizacion.miembros.all %}
                            {% if not forloop.last %}
                                {{ miembro.nombre }}, 
                            {% endif %}
                            {% if forloop.last %}
                                {{ miembro.nombre }}
                            {% endif %} 
                        {% endfor %}

                    </section>

                    <section class="box">  
                        <header style="text-align: center;">
                            <h3>Lugares</h3>
                        </header>
                        {% for lugar in organizacion.lugares.all %}
                        {% if not forloop.last %}
                            {{ lugar.nombre }}, 
                        {% endif %}
                        {% if forloop.last %}
                            {{ lugar.nombre }}
                        {% endif %} 
                        {% endfor %}
                    </section>

                    <section class="box">                        
                        <header style="text-align: center;">
                            <h3>Contacto</h3>
                        </header>
                        {% if organizacion.correo_publico %}
                            <p> {{ organizacion.correo }} </p>
                        {% endif %}
                        {% if organizacion.tel_publico %}
                            <p> {{ organizacion.tel }} </p>
                        {% endif %}
                        {% if organizacion.cel_publico %}
                            <p> {{ organizacion.cel }} </p>
                        {% endif %}
                        <p> {{ organizacion.enlace }} </p>
                    </section>
            </div>
        </div>
    </div>
</section>

{% endblock %}