{% extends "webpage/base.html" %}
{% load static %}

{% block title %} Personas {% endblock %}

{% block tab_personas %} "current" {% endblock %}

{% block contenido %}

			<!-- Main -->
			<section id="main">
				<div class="container">
					<div class="row">
						<div class="col-4 col-12-medium">

							<!-- Sidebar -->
                            <section class="box">
                                <a href="#" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
                                <header>
                                    <h3>Filtro</h3>
                                </header>
                                {% for etiqueta in etiquetas %}
                                    <input type="checkbox" id="etiqueta{{etiqueta.id}}" class="checkboxFiltro"> <label> {{ etiqueta.nombre }} </label><br>
                                {% endfor %}
                            </section>

						</div>
						<div class="col-8 col-12-medium imp-medium">

                            <section>
                                <header class="major">
                                    <h2>Personas</h2>
                                </header>
                                <div class="row">
                                    {% for item in lista %}
                                        <div class="col-6 col-12-small" id="objeto{{item.id}}" class="objeto">
                                            <section class="box">
                                                <a href="#" class="image featured"><img src="{{ item.imagen.url }}" alt="" 
                                                    class="center-image" style="height: 15em; width: auto;"/></a>
                                                <header style="text-align: center;">
                                                    <a href="{{ item.nombre }}"> <h3>{{ item.nombre }}</h3> </a>                                                    
                                                </header>
                                                <p style="text-align: justify;">{{ item.descripcion_corta }}</p>
                                            </section>
                                        </div>
                                    {% endfor %}
                                </div>
                            </section>

						</div>
					</div>
				</div>
			</section>

            <script src="{% static 'webpage/js/filtro.js' %}"             
            elementosFiltro = "{{ elementosFiltro | safe }}"></script>

{% endblock %}

