{% extends "webpage/base.html" %}

{% block title %} {{ persona.nombre }} {% endblock %}

{% block tab_personas %} "current" {% endblock %}

{% block contenido %}

<!-- Main -->
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-8 col-12-medium">

                <!-- Content -->
                    <article class="box post">
                        <header style="text-align: center;">
                            <h2>{{ persona.nombre }}</h2>
                        </header>
                        <br>
                        <a href="#" class="image featured"><img src="{{ persona.imagen.url }}" alt="" /></a>                        
                        <p>
                            {{ persona.descripcion }}
                        </p>
                    </article>

            </div>
            <div class="col-4 col-12-medium">

                <!-- Sidebar -->
                <section class="box">
                    <header style="text-align: center;">
                        <h3>Etiquetas</h3>
                    </header>
                    {% for etiqueta in persona.etiquetas.all %}
                        {% if not forloop.last %}
                            {{ etiqueta.nombre }}, 
                        {% endif %}
                        {% if forloop.last %}
                            {{ etiqueta.nombre }}
                        {% endif %}    
                    {% endfor %}
                </section>

                <section class="box">  
                    <header style="text-align: center;">
                        <h3>Lugares</h3>
                    </header>
                    {% for lugar in persona.lugares.all %}
                    {% if not forloop.last %}
                        {{ lugar.nombre }}, 
                    {% endif %}
                    {% if forloop.last %}
                        {{ lugar.nombre }}
                    {% endif %} 
                    {% endfor %}
                </section>

                <section class="box">                        
                    <header style="text-align: center;">
                        <h3>Contacto</h3>
                    </header>
                    {% if persona.correo_publico %}
                        <p> {{ persona.correo }} </p>
                    {% endif %}
                    {% if persona.tel_publico %}
                        <p> {{ persona.tel }} </p>
                    {% endif %}
                    {% if persona.cel_publico %}
                        <p> {{ persona.cel }} </p>
                    {% endif %}
                    <p> {{ persona.enlace }} </p>
                </section>

            </div>
        </div>
    </div>
</section>

{% endblock %}