{% extends "webpage/base.html" %}
{% load static %}

{% block title %} Mapa {% endblock %}

{% block masLinks %} 
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
crossorigin=""/>
{% endblock %}

{% block tab_mapa %} "current" {% endblock %}

{% block contenido %}

			<!-- Main -->
			<section id="main">
				<div class="container">
					<div class="row">
						<div class="col-4 col-12-medium">

							<!-- Sidebar -->
								<section class="box">
									<a href="#" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
									<header>
										<h3>Filtro</h3>
									</header>
									<input type="checkbox" > <label> Cosa </label><br>
                                    <input type="checkbox" > <label> Cosa </label><br>
                                    <input type="checkbox" > <label> Cosa </label><br>
                                    <input type="checkbox" > <label> Cosa </label><br>
                                    <input type="checkbox" > <label> Cosa </label><br>
                                    <input type="checkbox" > <label> Cosa </label><br>
                                    <input type="checkbox" > <label> Cosa </label><br>
                                    <input type="checkbox" > <label> Cosa </label><br>
                                    <input type="checkbox" > <label> Cosa </label><br>
                                    <input type="checkbox" > <label> Cosa </label><br>
                                    <input type="checkbox" > <label> Cosa </label><br>
                                    <input type="checkbox" > <label> Cosa </label><br>
								</section>

						</div>
						<div class="col-8 col-12-medium imp-medium">

                            <div id="myMap" style="height: 800px;"></div>

						</div>
					</div>
				</div>
			</section>
						
{% endblock %}

{% block masScripts %} 
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>
<script 
	src="{% static 'lugares/js/mapa.js' %}"
	ubicaciones=" {{ ubicaciones }} "
>
</script>
{% endblock %}


